<li class="item js-item" draggable="true" data-id="{{id}}">
    <img class="item__img" src="{{photo_50}}" alt="Фотография пользователя {{first_name}} {{last_name}}" draggable="false">
    <span class="item__name">{{first_name}} {{last_name}}</span>
    <button class="item__toggle-btn js-toggle-btn" type="button" aria-label="Добавить с список"></button>
</li>

