<li class="item js-item" draggable="true" data-id="{{id}}">
    <img class="item__img" src="{{photo_50}}" alt="Фотография пользователя {{first_name}} {{last_name}}" draggable="false">
    <span class="item__name">{{first_name}} {{last_name}}</span>
    <button class="item__toggle-btn js-toggle-btn" type="button" aria-label="Добавить с список">
      <svg class="item__btn-icon" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216 v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/>
        </g>
      </svg>
</button>
</li>

