<li class="item">
    <img class="item__img" src="{{photo_50}}" alt="Фотография пользователя {{first_name}} {{last_name}}">
    <span class="item__name">{{first_name}} {{last_name}}</span>
    <button class="item__close-btn" type="button" aria-label="Добавить с список"></button>
</li>

